### This project is targetted at building a machine learning module that will predict tommorrows's price of GBP/USD given historical data

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Reading the dataset
GU = pd.read_csv('OHLCVT_GBP-USD_1440.csv')
GU.head()

      open     high      low    close         volume  trades
0  1.26200  1.26200  1.21987  1.25767   50479.171816     363
1  1.25418  1.26102  1.20921  1.20930  421349.633527    1800
2  1.22529  1.23034  1.21296  1.21586   55055.320364     197
3  1.21553  1.23589  1.20456  1.22904   74545.623739     383
4  1.22785  1.26646  1.18527  1.22169  230405.496419     901

In [3]:
# looking at the shape of the dataset
GU.shape

(660, 6)